
.jfx-tab-pane:top{
    -fx-background-color: #ffffff;
}
.jfx-tab-pane .tab-header-background{
    -fx-background-color: #c50000;
}
.circleButton{
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-border-radius: 100%;
    -fx-border-width: 1px;
    -fx-background-color: #c50000;
    -fx-background-radius: 50;
    -fx-background-insets: 0;
}
.circleButton:hover{
    -fx-background-color: gray;
}
#userInfo{
    -fx-background-image: url("../media/images/user.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20, 20;
    -fx-alignment: center-left;
    -fx-padding: 0 5px 0 5px;

}
#userInfo:hover{
    -fx-background-color: gray;
}
.jfx-tab-pane .tab-header-area .tab-selected-line{
    -fx-stroke: red;
}
.jfx-tab-pane .tab-header-area .jfx-rippler{
    -fx-rippler-fill: red;
}

.tree-table-view{
    -fx-tree-table-color: rgba(197, 0, 0, 0.8);
    -fx-tree-table-rippler-color : rgba(255, 0, 0, 0.9);
    -fx-font-size: 16px;
    -fx-padding: 10px;
}
.tree-table-view:focused .tree-table-row-cell:selected {
    -fx-background-color: -fx-tree-table-color  ;
    -fx-table-cell-border-color: -fx-tree-table-color;
}

.tree-table-view:focused .tree-table-row-cell:selected .tree-table-cell{
    -fx-text-fill: white;
}

.tree-table-view .jfx-rippler {
    -fx-rippler-fill: -fx-tree-table-rippler-color;
}

.tree-table-view .column-header ,
.tree-table-view .column-header-background,
.tree-table-view .column-header-background .filler{
    -fx-background-color:TRANSPARENT;
}

.tree-table-view .column-header{
    -fx-border-width : 0 1 0 1;
    -fx-border-color: #F3F3F3;
}

.tree-table-view .column-header .label {
    -fx-text-fill : #949494;
    -fx-padding : 16 0 16 0 ;
}

.tree-table-view .column-header .arrow, .tree-table-view .column-header .sort-order-dot{
    -fx-background-color : #949494;
}

.tree-table-view .column-header:last-visible {
    -fx-border-width: 0 2 0 1;
}

.tree-table-view .column-header-background{
    -fx-border-width : 0 0.0 1 0;
    -fx-border-color:#F3F3F3;
}

.tree-table-view .tree-table-cell{
    -fx-border-width:0 0 0 0;
    -fx-padding : 16 0 16 0 ;
}

.tree-table-view .column-overlay{
    -fx-background-color: -fx-tree-table-color;
}

.tree-table-view .column-resize-line, .tree-table-view .column-drag-header{
    -fx-background-color: -fx-tree-table-rippler-color;
}

.tree-table-view:focused {
    -fx-background-color: -fx-tree-table-color,-fx-box-border,-fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    /*....*/
    -fx-padding: 1; /* 0.083333em; */
}

.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}
.tree-table-row-cell .jfx-text-field{
    -fx-focus-color: rgba(240,40,40);
}
